/************************************
        GLOBAL CSS
***********************************/

:root {
    --myDarkGreen: #233000;
    --myMediumGreen: #5E6600;
    --myLightGreen: #9CAA00;
    --myLeryLightGreen: #EBF0E4;

    --myBlack: #000000;
    --myMediumBlack: #4D4D4D;
    --myGrey: #B0B0B0;
    --myWhite: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px /*24px*/;
    font-family: 'Lato', sans-serif;

    min-height: 2400px;
    background-color: #B0B0B0;
}

/************************************
        TITLE FONTS
***********************************/
.largeTitle,
h1,
h2,
h3,
h4,
h5,
h6,
.widgetsTitle,
.widgetsText {
    font-family: 'Rufina', serif;
}

.largeTitle {
    font-size: 6.166666666666667em;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 3.6666666666666665em;
}

h3 {
    font-size: 2.8333333em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.333333em;
}

h6 {
    font-size: 1.083333333em;
}

.widgetsTitle {
    font-size: 0.833333em;
}

.widgetsText {
    font-size: 0.75em;
}

/************************************
        NAV FONTS
***********************************/
.navItem,
.navSubItem, 
.bodyTextBold,
.bodyCap,
.excerpt,
.label,
.widgetsComments {
    font-family: 'Lato', sans-serif;
}

.navItem {
    font-weight: bold;
    font-size: 2.75;
}

.navSubItem {
    font-size: 1em;
}

.bodyTextBold {
    font-weight: bold;
    font-size: 1em;
}

.bodyCap {
    font-size: 0.83333333em;
}

.excerpt {
    font-size: 0.9166666666666666em;
}

.label {
    font-size: 0.75;
}

.widgetsComments {
    font-size: 0.5833333333333334em;
}

/**************************************
**********************************
////////////////////////////////

        body styles

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
**********************************
**************************************/

.grid {
    min-height: 1000px;
    height:100%;
    max-width: calc(100vw - 17px);

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 50px;

    margin: 0 138px;
    padding-top: 50px;
    padding-bottom: 50px;

    border: 2px solid blue;
    color: white;
}

.bottomMarginZero {
    margin-bottom: 0;
}

/**************************************
**********************************
////////////////////////////////

        HOME styles

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
**********************************
**************************************/

#intro {
    background-color: var(--myDarkGreen);
    grid-column: span 12;
    position: relative;
}
#homeTitleContainer {
    grid-area: 1 / 1 / span 1 / span 8;
    z-index: 111111111111111111111;
    margin-top: 150px;
}

.rotate90 {
    transform: rotate(90deg);
    position: absolute;
    font-size: 2em;
    padding: 0;
    left: 10px;
    top: 800px;
}

#homeIntroImage {
    height: 400px;
    width: auto;
    grid-area: 1 / 7 / span 1 / span 5;
    margin-top: 100px;
}

#homeIntroImage img {
    width: 100%;
    height: auto;
}

#spices {
    position: absolute;
    bottom: 100px;
    left: 40%;
}

#spices img{
    height: 150px;
    width: auto;
    display: inline;
    margin-right: 20px;
}


/***********************************/
#dietIntro {
    background-color: var(--myDarkGreen);
}

#dietPlan {
    grid-area: 1 / 1 / span 1 / span 6;
}

#dietPlanDescription {
    grid-column: span 4;
}

#dietPlanMore {
    grid-area: 1 / 9 / span 1 / span 3;
}

/***********************************************/
#ourMenu {
    background: #FFFFFF;
    position: relative;
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
}


.MenuGrid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 0 138px;
}

.menuSpecialItem {
    
}

.price {
    width: 100%;
    border-bottom: 3px dotted #000;
    direction: rtl;
}


#menuBranchImage {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 600px;
    width: auto;
}

.textContainerLeftMargin {
    margin-left: 138px;
}


/*******************************************/
#cook {
    background: #FFFFFF;
    position: relative;
}

#cook .grid {
    padding-bottom: 0;
    color: #000000;
}

#cookImageWrapper {
    grid-area: 1 / 1 / span 1 / span 7;
    z-index: 11111111111;
}

#cookImageWrapper img {
    width: 100%;
    height: auto;
}

#cookInfo {
    grid-area: 1 / 8 / span 1 / span 5;
    z-index: 11111111111;
}

.leafHome {
    height: auto;
    position: absolute;
    z-index: 0;
}

#leafTop{
    width: 15vw;
    top: 0;
    left: 138px;
    transform: rotate(120deg);
}

#leafBottom{
    width: 25vw;
    bottom: 0;
    right: 138px;
}



/*******************************************/

#features {
    background: #fff;
    padding-top: 200px;
    padding-bottom: 200px;
}

#features .grid {
    color:#000;
    min-height: 500px;
}

.featuresItem {
    grid-column: span 4;
    text-align: center;
}

.featuresIcon {
    padding: 50px;
    background: rgb(92 35 92 / 15%);
    border-radius: 100%;
    filter: invert(1);
}

/*******************************************/
#homeBlog {
    background: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
}

#homeBlog .grid {
    background: #fff;
    color: #000;
}

.homeBlogPost {
    grid-row: span 1;
    grid-column: span 6;
    position: relative;
}

a.homeBlogCategoryLink {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: #fff;
    background-color: var(--myDarkGreen);
    padding: 10px 15px;
    border: 2px solid var(--myDarkGreen);
    font-size: 1.3em;
}

a.homeBlogCategoryLink:hover {
    background: transparent;
    color: var(--myDarkGreen);
    transition: all 400ms;
}

a.homeBlogCategoryLink:active {
    padding: 7px 14px;
    transition: all 400ms;
}

.homeBlogPostInfo {
    height: 84px;
    line-height:84px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}


.homeBlogPostInfo img,
.homeBlogPostInfo ul,
.homeBlogPostInfo ul li {
    display: inline;
}

.homeBlogPostInfo ul li {
    text-align: center;
    width: 100%;
}

.homeBlogPostTextContainer {
    margin-left: 50px;
    margin-right: 50px;
}

img.linkReadMoreImageArrow {
    height: 1em;
    width: auto;
    display: inline;
    margin-left: 20px;
}

a.readMore {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin-left: 50px;
    padding-top: 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--myDarkGreen)
}







/*******************************************/
#homeReservation {
    background: var(--myLeryLightGreen);
    min-height: 650px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.homeReservationGrid h1 {
    margin-bottom: 0;
}

.homeReservationGrid p {
    margin-bottom: 100px;
}


#homeReservationForm {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
    margin-left: 138px;
    margin-right: 138px;
}

#homeReservationForm #homeReservationFormSubmit {
    grid-column-start: 2;
}

#homeReservationForm input {
    padding: 10px 15px;
}

#homeReservationFormSubmit {
    width: 200px;
    justify-self: center;
    border: 2px solid var(--myDarkGreen);
    background: var(--myDarkGreen);
    color: #fff;
    padding: 10px 105px;

}

#homeReservationFormSubmit:hover {
    background: transparent;
    color: var(--myDarkGreen);
    transition: all 400ms;
}

#homeReservationFormSubmit:active {
    width: 80%;
}



/*******************************************/
#homeBlogCategories {
    background: #fff;
}

