/************************************
        GLOBAL CSS
***********************************/

:root {
    --myDarkGreen: #233000;
    --myMediumGreen: #5E6600;
    --myLightGreen: #9CAA00;
    --myLeryLightGreen: #EBF0E4;

    --myBlack: #000000;
    --myMediumBlack: #4D4D4D;
    --myGrey: #B0B0B0;
    --myWhite: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

/************************************
        TITLE FONTS
***********************************/
.largeTitle,
h1,
h2,
h3,
h4,
h5,
h6,
.widgetsTitle,
.widgetsText {
    font-family: 'Rufina', serif;
}

.largeTitle {
    font-size: 6.166666666666667em;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 3.6666666666666665em;
}

h3 {
    font-size: 2.8333333em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.333333em;
}

h6 {
    font-size: 1.083333333em;
}

.widgetsTitle {
    font-size: 0.833333em;
}

.widgetsText {
    font-size: 0.75em;
}

/************************************
        NAV FONTS
***********************************/
.navItem,
.navSubItem, 
.bodyTextBold,
.bodyCap,
.excerpt,
.label,
.widgetsComments {
    font-family: 'Lato', sans-serif;
}

.navItem {
    font-weight: bold;
    font-size: 2.75;
}

.navSubItem {
    font-size: 1em;
}

.bodyTextBold {
    font-weight: bold;
    font-size: 1em;
}

.bodyCap {
    font-size: 0.83333333em;
}

.excerpt {
    font-size: 0.9166666666666666em;
}

.label {
    font-size: 0.75;
}

.widgetsComments {
    font-size: 0.5833333333333334em;
}

/**************************************
**********************************
////////////////////////////////

        body styles

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
**********************************
**************************************/

#grid {
    min-height: 100%;
    height: 100vh;
    max-width: 100vw;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 0.73fr;

    margin: 0 138px;


    background: red;
    border: 2px solid blue;
}